\h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "helvetica";
    font-size: 12pt;
    line-height: 1.3em;
    color: black;
    background-color: white;
    padding: 3%;
    counter-reset: section;
    counter-reset: subsection;
    counter-reset: tocsection;
}

p {
    color:#0069d6;
    font-size: 2em;
    font-weight: bold;
}

p~p {
    color:initial;
    font-size: initial;
    font-weight: initial
}

img {
    display: block;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}
caption, figcaption {
  caption-side: bottom;
  text-align: center;
  font-size: 10pt;
}

table {
    font-size: 10pt;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-collapse: collapse;
    border: 2px solid black;
}

td,th {
	padding: 3px 10px;
}

th {
    width: 0;
	padding: 5px 10px;
    border-bottom: 1px solid grey;
}

tbody {
    border-bottom: 1px solid grey;
    }


.tableau table {
    border: 2px solid black;
}

.fullrule table {
    border: 2px solid black;
}

.fullrule td {
    border: 1px solid grey;
    font-weight: normal;
    vertical-align: top;
}

.tableau td {
    border:none;
    background-color: white;
}

.tableau td:nth-child(n+4) {
    border: 1px solid grey;
    font-weight: bold;
}

.tableau th {
    border-bottom: 2px solid grey;
    font-weight: bold;
}

.tableau th em {
    font-variant: small-caps;
    font-style: normal;
}

.tableau tbody {
    border: 2px solid black;
    }

td.shaded {
    background-color: grey;
    text-align: center;
}

td.shaded2 {
    border: 1px solid white;
    background-color: grey;
    text-align: center;
    color: white;
}

.tableau td.shaded2:nth-child(n+4) {
    border: 1px solid white;
    background-color: grey;
    text-align: center;
    color: white;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}

p {
    margin-bottom: .5em;
    padding: .1em;
}


ul {
    padding:0;
}

ul li {
    list-style-type: none;
    counter-increment: subsection;
    margin-top: .5em;
    margin-left: 3em;
}

ul li::before {
    font-weight: bold;
    content: counter(section) "." counter(subsection);
    position: absolute;
    margin-left: -3em;
}

ul ul li {
    list-style: disc;
    counter-increment: none;
    margin-left: 1em;
}

ul ul ul li {
    list-style: circle;
    counter-increment: none;
    margin-left: 1em;

}

ul ul li::before{
    content:none;
}

.TOC ul{
    padding: 0;
}

.TOC ul li {
    margin-top: .5em;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.TOC ul li::before{
    content:none;
}

.TOC ul li a:before {
    font-weight: bold;
    content: "§" counter(tocsection) ": ";
    counter-increment: tocsection;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}

h1 {
    font-size: 3em;
}

h1 {
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0;
    counter-reset: subsection;
    counter-increment: section;
}

h1::before {
    content: counter(section) ". ";
}

h2 {
    font-size: 1.2em;
}

h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection);
}

h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1.1em;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Menlo, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 11pt;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 10pt;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
* {
	-webkit-print-color-adjust: exact;
}
@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:10px auto;
    }
}
@media print {
	body,code,pre code,h1,h2,h3,h4,h5,h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}